{% extends 'base.html' %}

{% block body_content %}
<main class="main-container">
    <section class="profile-section">
        <div class="profile-header">
            <img class="profile-pic" src="../{{ user.profile_pic }}" alt="{{ user.full_name }}">
            <h2 class="profile-username">{{ user.full_name }}</h2>
			<p> {{ user.username }} </p>
        </div>
        <div class="profile-info">
            <p><strong>Bio:</strong> {{ user.bio }}</p>
            </div>
    </section>
</main>
{% endblock body_content %}